.r-logo {
    vertical-align: middle;
    animation: r-logo-spin infinite 20s linear;
    height: 35px;
}
  
@keyframes r-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.btn:focus, a:focus {
    box-shadow: unset !important;
}

.btn-link:hover {
    font-weight: bold;
}

.active {
    border-bottom: #5755d9 solid 2px !important;
}

figure {
    margin: 0 20px !important;
    cursor: pointer;
}

.avatar img {
    width: unset;
}

.menu {
    position: absolute;
    top: 36px;
    right: 5px;
    transform: unset;
}

.off-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #50596c;
    opacity: 0.5;
}